@import "tailwindcss";

@theme {
  --color-brand-orange: #f97316;
  --color-primary: var(--primary-color, #ea580c);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
